#carousel__slide1 {
  background-image: url(../../images/rooms/deluxe1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#carousel__slide2 {
  background-image: url(../../images/rooms/deluxe2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#carousel__slide3 {
  background-image: url(../../images/rooms/deluxe3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 40px;
  color: #fff;
}

.checkout {
  background-color: #6AB1BE;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-head {
  margin-bottom: 1%;
}