#carousel__slide1 {
  background-image: url(../../images/rooms/service1.jpg);
}
#carousel__slide2 {
  background-image: url(../../images/rooms/service2.jpg);
}
#carousel__slide3 {
  background-image: url(../../images/rooms/service3.jpg);
}
#carousel__slide4 {
  background-image: url(../../images/rooms/service4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom_btn {
  font-size: 1.5vw;
  color: #fff;
  font-weight: 400;
  background: 0 0;
  border: 1px solid #fff;
  padding: 5px 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.custom_btn:hover {
  background: #fff;
  color: #212529;
  transition: 0.3s;
}