* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    overflow-x: hidden;
    background-color: #f2f3f3;
    width: 100%;
    font-family: Verdana, Arial, sans-serif;
    line-height: 2;
}

h1, h2 {
    color: black;
}

/* styles for blog page */
.main-blog {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
  }

.main-blog > img {
    width: 100%;
    height: 450px;
}

.main-blog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(0,0,0, 0.5);
    width: 65%;
}

.main-blog-content h1 {
    font-size: 30px;
    color: white;
}

.main-blog-content p {
    font-size: 16px;
}

.main-blog-content h1:after {
    margin-left: 10px;
}

.main-blog-content h1:before, .main-blog-content h1:after {
    display: inline-block;
    width: 50px;
    height: 1px;
    content: '';
    vertical-align: middle;
    background: #ffffff;
}

.button-read-main-blog {
    position: relative;
    padding: 10px 32px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    background: none;
    border-radius: 0;
    letter-spacing: 1px;
    border: 2px solid #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.button-read-main-blog:hover {
    background: #716e6e;
}

.main-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.blog-list-item {
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 15px;
    background: #ffffff;
}

.blog-list-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-wrapper {
    height: 180px;
    overflow: hidden;
}

.inner-img {
    transition: 0.3s;
}

.inner-img:hover {
    transform: scale(1.1);
}

.card-content {
padding: 2px 16px;
}

.card-title {
    margin: 10px 0;
}

.posted-on {
    font-style: italic;
    color: #555;
    font-size: 12px;
}


/* styles for blog detail page*/
.blog-detail-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(0,0,0, 0.5);
    width: 60%;
}

.blog-detail-header > h1 {
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 3px;
    color: white;
}

.blog-detail-content {
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 10px 20px;
    margin: 50px auto;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
}

.blog-detail-container {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 15px;
}

.blog-comment-list {
    margin: 70px auto;
}
.blog-comment-list-item {
    display: grid;
    grid: auto/ auto auto;
    grid-column-gap: 40px;
    border: 1px solid #eeeeee;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
    background-color: #f6f6f6;
    padding: 25px 12px;
    margin: 25px auto;
}
.blog-comment-list-item img {
    grid-row: 1/all;
    width: 150px;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.blog-commenter-name{
    grid-column-start: 2;
}
.blog-comment-description {
    grid-column-start: 2;
}
#commentForm input[type="text"]:focus {
    border: 1px solid #eeeeee;
}
#commentForm input[type="text"], #commentForm textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box
}
span.required {
    color: red;
}

.primary-btn {
    background: black;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px;
}

.primary-btn:hover {
    background: #DEE2E6;
    color: black;
}

.card-footer {
    margin: 10px 0;
    text-align: center;
}

.button-read-blog {
    position: relative;
    padding: 12px;
    color: #8b8b8b;
    background: #f6f6f6;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border-radius: 2px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
}

.button-read-blog:hover {
    background: black;
    color: #ffffff;
}

/* Style for Premium room */
.room-main-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
}
.room-main-container > article {
    padding: 30px 0;
}
.premium-room-section {
    display: flex;
    width:100%;
}

.premium-room-section > .content {
    align-self: center;
}

.premium-room-section img {
    height: auto;
    vertical-align: top;
}

.premium-room-section img:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.premium-room-section h2 {
    grid-column-start: 1;
    text-align: left;
    font-size: 45px;
    font-weight: normal;
}

.room-details {
    display: grid;
    grid-template-columns: auto auto auto;
}

span.text {
    font-size: 25px;
    font-weight: normal;
    line-height: 1.3;
    text-align: center;
}

span.sub-text {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: darkgray;
}

.premium-room-feature-left {
    line-height: 1.3;
    display: flex;
}

.premium-room-feature-left> .content{
    align-self: center;
    padding-left: 20px;
}
.premium-room-feature-left img {
    height: auto;
    vertical-align: top;
}

.premium-room-feature-left img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.premium-room-feature-left h2 {
    text-align: left;
    font-size: 45px;
    font-weight: normal;
}
.premium-room-feature-left span {
    font-size: 14px;
    color: darkgray;
    text-transform: uppercase;
}

.feedback{
    
    text-align: center;
}

.feedback > img {
    width: 100%;
}

.feedback img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.feedback > .content {
    padding: 25px;
}

.feedback > .content span {
    font-size: 14px;
    color: darkgray;
    text-transform: uppercase;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*.main-nav {
        display: none;
    }

    #mobile-menu {
        display: block;
    }

    header h1 {
        width: 40%;
        font-size: 1.5em;
    }*/

    .main-blog-content {
        width: 75%;
        padding: 10px;
    }

    .main-blog-content h1 {
        font-size: 1.5em;
    }

    .main-container {
        margin-top: 10px;
        flex-flow: column wrap;
    }

    .main-container article {
        width: 92%;
    }

    .blog-detail-container {
        width: 85%;
    }

    .blog-detail-header > h1 {
        font-size: 2em;
    }

    .blog-comment-list-item {
        grid-column-gap: 0px;
    }

    .premium-room-feature-left {
        display: block;
    }

    .premium-room-feature-left img {
        width: 100%;
    }
    .premium-room-section {
        display: block;
    }
    .premium-room-section > img {
        width: 100%;
    }
    .premium-room-feature-left > .content {
        padding: 10px 0;
        text-align: center;
    }
    .room-main-container {
        margin-top: 0;
    }
    .premium-room-section h2 {
        font-size: 30px;
    }
    .premium-room-feature-left h2 {
        font-size: 30px;
        text-align: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
    .blog-detail-container {
        width: 80%;
    }
    .premium-room-section img {
        width: 50%;
    }
    .premium-room-feature-left img {
        width: 50%;
    }
}