
/*****************
Head.
*****************/

.menu {
    font: 100% Arial, Helvetica, sans-serif;
}

/*****************
Global styles.
*****************/
body {
    background-color: lightgrey;
    font: 100% Arial, Helvetica, sans-serif;
    /*border-bottom: 10px solid gold;*/
}

h1 {
    font-family: Georgia,"Times New Roman", serif;
    font-size: 2em;
    font-weight: bold;
    font-style: center;
    color: white;
    width: 50%;
    padding: 10px;
    position: absolute;
    bottom: 230px;
    left: 16px;
}
h2 {
    font-family: Georgia,"Times New Roman", serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: center;
    color: #f1f1f1;
    padding: 10px;
    position: absolute;
    bottom: 200px;
    left: 16px;
}
p {
    font-size: 1em;
    font-weight: lighter;
    font-style: center;
    text-align: justify;
    color: rgb(68, 67, 67);
    line-height: 150%;
}

/*****************
Main.
*****************/
/* Styling for cover section */
.cover {
    background-image: url(../../images/event/backgroundpicture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    margin-bottom: 20px;
    height: 100vh;
    opacity: 0.9;

}

.note {
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 45%; /* Full width */
    padding: 20px;
    position: absolute;
    bottom: -50px;
    left: 16px;
 }

/* Styling for the experience section */
.topic {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 0px 100px 0px ;
    color: rgb(48, 46, 46);
}

hr.new {
    /* width: 100%; */
    max-width: 40%;
    margin-left: 350px;
    border: 1px solid black;
    color: rgb(48, 46, 46);
}


.content1 {
 
    margin: 0 10px 0 0;
    padding: 10px;
    background-color: white;
    width: 30%;
    border-radius: 10px;
}
.content2 {
    padding: 10px;
    background-color: white;
    width: 30%;
    border-radius: 10px;
}
.content3 {
   
    margin: 10 0px 0 0px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 30%;
    /* height: 500px;  */
    border-radius: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

}

.button-next-page {
    position: relative;
    padding: 10px 32px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    background: none;
    border-radius: 0;
    letter-spacing: 1px;
    border: 2px solid #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.button-next-page {
    background: #716e6e;
}
 /*****************
Personal Section.
*****************/
.personal {
    font-size: 0.8em;
    font-weight: lighter;
    font-style: justify;
    margin: 10px 10px 10px;
    line-height: 200%;
    color: rgb(114, 113, 113);
}


/*****************
Exhibition Section.
*****************/
.exhibition {
    font-size: 0.8em;
    font-weight: lighter;
    font-style: justify;
    margin: 10px 10px 10px;
    line-height: 200%;
    color: rgb(114, 113, 113);
}


/*****************
Memorable Section.
*****************/
.memorable {
    font-size: 0.8em;
    font-weight: lighter;
    font-style: justify;
    margin: 10px 10px 10px;
    line-height: 200%;
    color: rgb(114, 113, 113);
}
 /* .image1 {
     height: 200px;
     max-width: 100%;
     padding: 10px;
     position: relative;
 } */
 /* .image2 {
    height: 200px;
    max-width: 100%;
    padding: 10px;
    position: relative;
}

.image3 {
    height: 200px;
    max-width: 100%;
    padding: 10px;
    position: relative;
} */
